.not-found-view > .content {
  text-align: center;
  & > .header {
    font-size: 4em;
    color: $blue-700;
    & > .icon {
      @include fa-icon();
      &:before {
        content: $fa-var-question-circle;
      }
    }
  }
  & > .message {
    padding: 0.5em;
  }
}
