.device-web-remote {
  & > .group {
    border-bottom: 1px solid $grey-400;
    padding: 0.5em 0;
    & > .component-text {
      display: inline-block;
      vertical-align: middle;
      margin: 0.1em 0.2em;
      padding: 0 0.5em;
    }
  }
  & > .group:last-child {
    border-bottom: 0;
  }
}
