.device-list, .document-list, .menu-list, .list-input {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & > .tip {
    color: $grey-700;
    font-size: 0.85em;
  }
  & > li > a, & > li > p {
    display: block;
    padding: 0.4em 0.8em;
    margin: 0;
    font-size: 1em;
    color: $grey-800;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: 1px solid $grey-400;
    &:hover {
      background-color: $blue-200;
      color: $blue-800;
    }
  }
  & > li:last-child > a, & > li:last-child > p {
    border: none;
  }
}

.list-input-form {
  margin: 0.3em 0;
  position: relative;
  padding-right: 2em;
  & > input {
    display: block;
    position: relative;
    width: 100%;
  }
  & > .add-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    line-height: 1.4rem;
    padding: 0.4em 0;
    width: 2em;
    cursor: pointer;
    color: $green-800;
    &:hover {
      color: $green-600;
      background-color: $green-200;
    }
  }
}
.list-input {
  & > li {
    position: relative;
    & > .remove-btn, & > .add-btn {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      vertical-align: middle;
      font-size: 0.8em;
      line-height: 1.4rem;
      padding: 0.4em 0;
      width: 2em;
      cursor: pointer;
    }
    & > .remove-btn {
      color: $red-800;
      &:hover {
        color: $red-600;
        background-color: $red-200;
      }
    }
    & > .add-btn {
      color: $green-800;
      &:hover {
        color: $green-600;
        background-color: $green-200;
      }
    }
    & > p {
      position: relative;
      margin-right: 2em;
      line-height: 1.3rem;
      &:hover {
        background-color: transparent;
        color: $grey-800;
      }
    }
  }
}
