.side-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & > li {
    & > a, & > .subcategory-name {
      display: block;
      padding: 0.6em 0.4em;
      padding-left: 1em;
      color: $sidebar-menu-color;
      font-size: 1em;
      text-decoration: none;
      box-sizing: border-box;
    }
    & > .subcategory-name {
      border-bottom: 1px solid $grey-400;
      & > .load-icon {
        margin-left: 0.3em;
        vertical-align: middle;
      }
      & > .add-icon {
        @include fa-icon();
        text-decoration: none;
        float: right;
        line-height: 1em;
        padding: 0 0.2em;
        margin-right: 0.2em;
        color: $grey-700;
        &:before {
          content: $fa-var-plus;
        }
        &:hover {
          color: $blue-700;
        }
        &.active {
          color: $blue-700;
        }
      }
    }
    & > a {
      border-bottom: 1px solid $grey-400;
      &:hover {
        background-color: $sidebar-hover-bg-color;
        color: $sidebar-hover-fg-color;
      }
      &.active {
        background-color: $sidebar-active-bg-color;
        color: $sidebar-active-fg-color;
      }
    }
  }
  & .subcategory {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li > a {
      display: block;
      padding: 0.4em 0.4em;
      padding-left: 2em;
      background-color: $grey-200;
      font-size: 1em;
      color: $grey-800;
      text-decoration: none;
      box-sizing: border-box;
      border-bottom: 1px solid $grey-400;
      &:hover {
        background-color: $sidebar-hover-bg-color;
        color: $sidebar-hover-fg-color;
      }
      &.active {
        background-color: $sidebar-active-bg-color;
        color: $sidebar-active-fg-color;
      }
    }
  }
}
