.login-form {
  & > .content {
    margin-bottom: 0.5em;
    & > div {
      margin-bottom: 0.5em;
    }
  }
  & > .action {
    margin-top: 1em;
    width: 100%;
    button {
      display: inline-block;
    }
    & > .register {
      text-align: right;
      margin-top: 0.5em;
      font-size: 0.85em;
      a {
        color: $grey-700;
      }
    }
  }
  &.dialog {
    max-width: 19em;
  }
}
